figure.demo{
    width: calc(#{$Width} * 0.5);
    height: $Height;

    @include LinkImg(null, 'demo', 'png', contain, no-repeat, null);
}

figcaption{
    width: calc(#{$Width} * 0.5);
    height: $Height;

    @include VerticalAlignCenter();

    section{
        width: 85%;
        height: fit-content;
        margin: $HorizontalAlignCenter;
    }
}