// 顏色樣式
// $MainColor: #98C1D9;
// $MainColor2: #7693A5;

// $SubColor: #E0FBFC;
// $SubColor2: #3D5A80;
// $SubColor3: #293241;

// $FocusingColor: #EE6C4D;

// 文字顏色樣式
$TextColor: #000000;
$TextColor2: #F4F4F4;

// 0318 新增色票
$NavBGColor: #161829;
$HFBGColor: #48538D;

$PrimaryColor: #293241;
$SecondaryColor: #262A73;
$AccentColor: #83DCD7;
$AccentColor2: #F29966;
$AccentColor3: #F25A38;

// 表單色票
$TableColor: #FFFFFF;

// $Tr: transparent; // 透明
// $Opacity: 1; // 透明度

//載入字型
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Noto+Sans+TC:wght@300;400;500&display=swap');

// text-orientation 文字排列方向
// font-style, font-variant, font-weight, font-stretch, font-size, line-height, and font-family
// font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;

//文字樣式
$FontWeight: (
    'medium': 500, // 大標題
    'regular': 400, // 副標題
    'light': 300 //內文
);

$FontSize: (
    'h1': 4rem, //64px
    'h2': 3rem, //48px
    'h3': 2.25rem, //36px
    'h4': 1.5rem, //24px
    'h5': 1.25rem, //20px
    'h6': 1.125rem, //18px
    'p': 1rem, //16px
);

$LineHeight: 1.6em;

// 系統預設字型
$FontFamily: 'Helvetica', 'Noto Sans TC', sans-serif; 
// 特殊字型
$SpecialFont: 'Fredoka', 'Noto Sans TC', sans-serif;

$LetterSpaceing: 0.1em;
$WordSpaceing: 0.15em;

// $TextAlign: justify;  // 文字間距自動計算占滿寬度

// 排版
$Width: calc(100% - 70px);
$Height: calc(100vh - 90px);

$RWD: 100%;

// 單欄版面記得要置中！
$HorizontalAlignCenter: 0 auto; //水平置中
// 垂直置中放在 _mixins.scss

// 滑鼠游標
// $Cursor: pointer;