// 套件連結
@import './../../node_modules/bootstrap/scss/bootstrap.scss';

@import './vendor/bootstrap.min';
@import './vendor/example';
@import './vendor/jquery.multiscroll';
@import './vendor/fullpage';

@import './base/var';
@import './base/reset';

@import './component/space';
@import './component/button';
@import './mixin';

// 模版連結
@import './layout/login';
@import './layout/nav';
@import './layout/header';
@import './layout/footer';

@import './layout/RWD';




@import './page/prototype';

// 前台頁面連結
@import './page/frontend/index';
@import './page/frontend/exhibition';
@import './page/frontend/guide';
@import './page/frontend/tickets';
@import './page/frontend/about';
@import './page/frontend/member';
@import './page/frontend/member_forget';
@import './page/frontend/member_info';
@import './page/frontend/member_modify';
@import './page/frontend/member_forget_change';
@import './page/frontend/game';

// 後台頁面連結
@import './page/backend';

// -------------------- HTML --------------------

body{
    font-weight: map-get($FontWeight, light);
    font-size: map-get($FontSize, p);
    line-height: $LineHeight;
    font-family: $FontFamily;

    letter-spacing: $LetterSpaceing;
    word-spacing: $WordSpaceing;
    text-align: left;

    background-color: #E5E5E5;
    color: $TextColor2;

    box-sizing: border-box;

    .wrapper{
        width: $RWD;
        
        position: relative;

        @include Flex(row);

        h1{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, medium);
            font-size: map-get($FontSize, h1);
        }

        h2{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, medium);
            font-size: map-get($FontSize, h2);
        }

        h3{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, medium);
            font-size: map-get($FontSize, h3);
        }

        h4{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h4);
        }

        h5{
            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h5);
        }

        h6{
            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h6);
        }

        a{
            text-decoration: none;
        }

        .mainContainer{
            width: $Width;
            height: calc(#{$Height} + 90px);

            @include Flex(column);
        }

        main{
            height: $Height;
            background-color: $PrimaryColor;
            overflow: hidden;

            @include Flex(row);
        }
    }
}