// 套件連結
@import './../../node_modules/bootstrap/scss/bootstrap.scss';
@import './../../node_modules/aos/src/sass/aos.scss';
@import './../../node_modules/swiper/swiper.scss';

// @import './vendor/bootstrap.min';
@import './vendor/example';
@import './vendor/fullpage';
@import './vendor/jquery.multiscroll';


// 基礎設定
@import './base/var';
@import './base/reset';

// 元件
@import './component/space';
@import './component/button';
@import './mixin';

// 模版連結
@import './layout/login';
@import './layout/nav';
@import './layout/header';
@import './layout/footer';

@import './layout/RWD';

@import './page/prototype';

// 前後台頁面連結
@import './page/switch';
@import './page/inter';

// 前台頁面連結
@import './page/frontend/index';

@import './page/frontend/exhibition';

@import './page/frontend/guide';

@import './page/frontend/tickets';
@import './page/frontend/tickets_current';
@import './page/frontend/tickets_past';

@import './page/frontend/about';
@import './page/frontend/community';

@import './page/frontend/member';
@import './page/frontend/member_info';
@import './page/frontend/member_modify';
@import './page/frontend/member_forget';
@import './page/frontend/member_forget_change';

@import './page/frontend/game';

@import './page/frontend/cart_order';
@import './page/frontend/cart_details';
@import './page/frontend/cart_information';
@import './page/frontend/cart_done';

// 後台頁面連結
@import './page/backend_login';
@import './page/backend';

// -------------------- HTML --------------------

body{
    font-weight: map-get($FontWeight, light);
    font-size: map-get($FontSize, p);
    line-height: $LineHeight;
    font-family: $FontFamily;

    letter-spacing: $LetterSpaceing;
    word-spacing: $WordSpaceing;
    text-align: left;

    color: $TextColor2;

    box-sizing: border-box;

    .wrapper{
        width: $RWD;
        
        position: relative;

        @include Flex(row);

        @each $FontSize, $value in $FontSize {
            #{$FontSize} {
                font-size: $value;
            }
        }

        // h1{ //優化SEO
        //     font-family: $SpecialFont;
        //     font-weight: map-get($FontWeight, medium);
        // }

        h2{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, medium);
        }

        h3{
            font-family: $SpecialFont;
            font-weight: map-get($FontWeight, medium);
        }

        h4{
            font-weight: map-get($FontWeight, regular);
        }

        h5{
            font-weight: map-get($FontWeight, regular);
        }

        h6{
            font-weight: map-get($FontWeight, regular);
        }

        a{
            text-decoration: none;
        }

        .mainContainer{
            width: $Width;
            height: calc(#{$Height} + 80px);

            @include Flex(column);
        }

        main{
            height: $Height;
            background-color: $PrimaryColor;
            overflow: hidden;

            @include Flex(row);
        }
    }
}