<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue I18n CDN</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js" integrity="sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.5/vue-i18n.min.js" integrity="sha512-ZzSuBIU1jnU1ELt2Cv/LZ9hhxFrCM4Gf6dsBKv676ysHR2ukY+Rs/w/l05E4zC1Tq89IHYu8yPjuyLhS6GSMZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <div id="app">
        <header class="header">
            <h1 class="h1">{{$t("header.title")}}</h1>
            <select name="locale" id="locale" v-model="locale" @change="changeLocale()">
                <option value="tw">繁體中文</option>
                <option value="en">English</option>
                <option value="jp">日本語</option>
            </select>
        </header>
        <main class="main">
            <h2 class="h2">{{$t("main.greeting", {name: "Lynn"})}}</h2>
            <ul class="list">
                <li class="item" v-for="i in 3" :key="i">{{$tc("main.sheep", i-1 , {value: i-1})}}</li>
            </ul>
            <img class="img"
                :src="`https://fakeimg.pl/460x100/?text=${$t('main.image.text')}&font=${$t('main.image.font')}`">
        </main>

    </div>

    <script>
        const messages = {
            en: {
                header: {
                    title: "Website"
                },
                main: {
                    greeting: "{name}, Hi!",
                    image: {
                        text: "fake image",
                        font: "lobster"
                    },
                    sheep: "no sheep | 1 sheep | {value} sheeps"
                }
            },
            jp: {
                header: {
                    title: "サイト"
                },
                main: {
                    greeting: "{name}さん、こんにちは",
                    image: {
                        text: "フェイク",
                        font: "noto"
                    },
                    sheep: "羊がない | 羊 1 匹 | 羊 {value} 匹"
                }
            },
            tw: {
                header: {
                    title: "網站"
                },
                main: {
                    greeting: "{name}，你好！",
                    image: {
                        text: "假圖",
                        font: "noto"
                    },
                    sheep: "沒有綿羊 | 1 隻綿羊 | {value} 隻綿羊"
                }
            }
        }

        const i18n = new VueI18n({ messages: messages });

        let app = new Vue({
            el: "#app",
            i18n: i18n,
            data: {
                locale: localStorage.getItem("locale") || "tw"
            },
            methods: {
                changeLocale: function () {
                    this.$i18n.locale = this.locale;
                    console.log(this.$t("header.title"));
                    localStorage.setItem("locale", this.locale);
                }
            },
            created() {
                this.$i18n.locale = this.locale;
            }
        })
    </script>
</body>

</html>