// 上
.topspace10 {
    padding-top: 10px;
}

.topspace20 {
    padding-top: 20px;
}

@for $i from 1 through 20 {
    .topspace#{$i}0 {
        padding-top: $i *10 + px;
    }
}

// 左
.leftspace10 {
    margin-left: 10px;
}

.leftspace20 {
    margin-left: 20px;
}

@for $i from 1 through 10 {
    .leftspace#{$i}0 {
        margin-left: $i *10 + px;
    }
}