// 上
.TopSpace10 {
    padding-top: 10px;
}

.TopSpace20 {
    padding-top: 20px;
}

@for $i from 1 through 100 {
    .TopSpace#{$i}0 {
        padding-top: $i *10 + px;
    }
}

// 右
.RightSpace10 {
    margin-right: 10px;
}

.RightSpace20 {
    margin-right: 20px;
}

@for $i from 1 through 100 {
    .RightSpace#{$i}0 {
        margin-right: $i *10 + px;
    }
}

// 下
.BottomSpace10 {
    padding-bottom: 10px;
}

.BottomSpace20 {
    padding-bottom: 20px;
}

@for $i from 1 through 100 {
    .BottomSpace#{$i}0 {
        padding-bottom: $i *10 + px;
    }
}

// 左
.LeftSpace10 {
    margin-left: 10px;
}

.LeftSpace20 {
    margin-left: 20px;
}

@for $i from 1 through 100 {
    .LeftSpace#{$i}0 {
        margin-left: $i *10 + px;
    }
}