/* Footer */
footer{
    width: $RWD;
    height: 40px;
    
    background-color: $HFBGColor;
    font-family: $SpecialFont;
    
    @include VerticalAlignCenter();
    
    p{
        font-size: $MinFontSize;
        margin: $HorizontalAlignCenter;
    }
}
