/* Header */
header{
    width: $RWD;
    height: 50px;

    background-color: $HFBGColor;
    font-family: $SpecialFont;

    @include Flex(row);

    .header_container{
        width: calc(#{$Width} - 50px);

        @include Flex(row);
    }

    h5{
        margin-left: 30px;

        @include VerticalAlignCenter();

        &:first-child{
            margin-left: 20px;
        }
        &:hover{
            span{
                border-bottom: 1.5px solid $TextColor2;
            }
        }
    }

    h5 span.active{
        display: none;
    }

    h5 span.activeb{
        border-bottom: 1.5px solid $TextColor2;
    }

    figure.logo{
        width: 100px;
        height: 50px;

        background-image: url('./../img/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width:797.98px){
    header{
        display: none;
    }
}