/* FrontHeader */
header.frontHeader{
    width: $RWD;
    height: 50px;

    background-color: $HFBGColor;
    font-family: $SpecialFont;

    @include Flex(row);

    .headerContainer{
        width: calc(#{$Width} - 50px);

        @include Flex(row);

        h5{
            color: $TextColor2;

            @include VerticalAlignCenter();
        }
    }

    .active{
        display: none;
    }

    .activeb{
        border-bottom: 1.5px solid $TextColor2;
    }

    figure.logo{
        width: 100px;
        height: 40px;
        margin-top: 5px;

        @include LinkImg('logo', 'logo_rw', 'png');
    }
}

/* BackHeader */
header.backHeader{
    width: $RWD;
    height: 130px;

    background-color: $BackColor;

    .headerContainer{
        width: 70%;
        height: 130px;

        @include Flex(row);

        display: inline-flex;

        h3{
            color: $TextColor;
            font-weight: map-get($FontWeight, regular);
            text-shadow: none;
        }

        h5{
            border-bottom: 1.5px solid $TextColor;
        }

        button{
            height: 35px;

            background-color: $HFBGColor;

            border: none;
            border-radius: $BorderRadius;

            box-shadow: $BoxShadow;

            h5{
                color: $TextColor2;
                font-weight: map-get($FontWeight, light);
                border: none;
            }
        }
    }

    .search{
        width: fit-content;
        height: fit-content;
        display: inline-block;

        button{
            height: 35px;

            background-color: $HFBGColor;

            border: none;
            border-radius: $BorderRadius;

            box-shadow: $BoxShadow;
            
            h6{
                color: $TextColor2;
                font-weight: map-get($FontWeight, light);
            }
        }
    }

    a{
        float: right;
        h5{
            border-bottom: 1.5px solid $TextColor;
        }
    }
}