/* Header */
header{
    width: $RWD;
    height: 50px;

    background-color: $HFBGColor;
    font-family: $SpecialFont;

    @include Flex(row);

    .header_container{
        width: calc(#{$Width} - 50px);

        @include Flex(row);

        .leftspace30{
            @include VerticalAlignCenter();
            h5{
                color: $TextColor2;
            }
        }
    }


    .active{
        display: none;
    }

    .activeb{
        border-bottom: 1.5px solid $TextColor2;
    }

    figure.logo{
        width: 100px;
        height: 40px;
        margin-top: 5px;

        @include LinkImg('logo', 'logo_rw', 'png');
    }
}

@media screen and (max-width:797.98px){
    header{
        display: none;
    }
}