figure{
    height: $Height;

    display: flex;
    flex-flow: row nowrap;
    
    img{
        max-height: $RWD;
    }
    figcaption{
        @include VerticalAlignCenter();

        section{
            width: 85%;
            margin: $HorizontalAlignCenter;
        }
    }
}