/* Frontend Navigation Bar */
nav.frontNav{
    display: inline-block;
    width: 70px;
    height: calc(#{$Height} + 90px);

    background-color: $NavBGColor;
    
    .navContainer{
        height: calc(#{$Height} + 90px);
        width: 35px;
        margin: 0 auto;

        @include Flex(column);

        svg{
            width: 35px;
            height: 30px;
            fill: $AccentColor3;

            &:hover{
                fill: $AccentColor;
            }
        }
        // .st0 {}
        
        .active a svg{
            fill: $AccentColor;
        }
    }
}

/* Hamburger */
.hamburger{
    display: none;
}

// @media screen and (max-width:797.98px){
//     nav .frontnav{
//         display: none;

//         .nav_container{
//             display: none;
//         }
//     }
    
//     .hamburger{
//         padding-top: 65px;
//         text-align: center;
//         display: block;
//         background-color: $NavBGColor;
//         color: $TextColor2;
//         h6{
//             padding-top: 15px;
//         }
//         ol{
//             display: none;
//         }
//     }
// }

/* Backend Navigation Bar */
nav.backNav{
    width: 225px;
    background-color: $HFBGColor;
    
    ul{
        li{
            width: 190px;
            height: 45px;

            border: 1px solid #FFFFFF;
            border-radius: 5px;
        }

        .active{
            background-color: $AccentColor2;
            border: none;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        }

        a{
            display: block;
            width: 190px;
            height: 45px;
            color: $TextColor2;

            @include VerticalAlignCenter();
        }
    }
}