/* Frontend Navigation Bar */
nav.frontNav{
    display: inline-block;

    width: 70px;
    height: calc(#{$Height} + 90px);

    background-color: $NavBGColor;

    figure.home{
        width: 60px;
        height: 35px;
        @include LinkImg(logo, logo_rw, png);
        margin: 0 auto;
    }
    
    .navContainer{
        height: calc(#{$Height} + 90px);
        width: 35px;
        margin: 0 auto;

        @include Flex(column);

        li{
            padding-top: 100%;

            &:nth-child(6){
                // padding-top: 225%;
            }
        }

        svg{
            width: 35px;
            height: 30px;
            fill: $AccentColor3;

            &:hover{
                fill: $AccentColor;
            }
        }
        
        .active a svg{
            fill: $AccentColor;
        }
    }
}

/* Hamburger */
.hamburger{
    display: none;
}

// @media screen and (max-width:797.98px){
//     nav .frontnav{
//         display: none;

//         .nav_container{
//             display: none;
//         }
//     }
    
//     .hamburger{
//         padding-top: 65px;
//         text-align: center;
//         display: block;
//         background-color: $NavBGColor;
//         color: $TextColor2;
//         h6{
//             padding-top: 15px;
//         }
//         ol{
//             display: none;
//         }
//     }
// }

/* Backend Navigation Bar */
nav.backNav{
    width: 175px;
    height: calc($Height + 90px);

    background-color: $HFBGColor;

    figure.logo{
        width: 100px;
        height: 50px;
        @include LinkImg(logo, logo_rw, png);
        margin: 30px auto 0 auto;
    }

    figure.admin{
        width: 75px;
        height: 75px;
        @include LinkImg(logo, backend_admin, png);
        margin: 30px auto 0 auto;
    }

    h5{
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        color: $TextColor2;
    }
    
    ul{
        width: fit-content;
        margin: 30px auto 0 auto;

        li{
            width: 145px;
            height: 40px;
            font-size: map-get($FontSize, min);

            border: 1px solid $InputColor;
            border-radius: $BorderRadius;
        }

        svg{
            height: 20px;

            fill: $TextColor2;
        }

        .active{
            background-color: $AccentColor2;

            border: none;
            box-shadow: $BoxShadow;
        }

        a{
            display: block;
            width: 145px;
            height: 40px;
            color: $TextColor2;

            @include VerticalAlignCenter();
        }
    }
}