<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html')
</head>

<body>
    <div class="wrapper" id="ticket_wrapper">

        <!-- 導覽列 -->
        @@include('./layout/nav.html', {
        "active3" : "active"
        })

        <main class="cartOrder">
            <!-- coding here -->
            <article class="cartOrder">
                <section class="rollover">


                    <div class="list_box">
                        <h4 class="titleCart">CART</h4>

                        <table class="list_table">
                            <!-- 項目 -->
                            <tr class="table_title" style="color:#fff;">
                                <td>Tickets</td>
                                <td style="width: 230px;">Validity Period</td>
                                <td>Price</td>
                                <td>QTY</td>
                                <td>Total</td>
                            </tr>

                            <!-- 票券 -->
                            <tr class="first_order" style="color:#fff; line-height: 5;" v-for="TICKET in TICKETS">
                                <td class="roll_ticket">{{TICKET.TICKET_TYPE}}</td>
                                <td style="width: 230px;">{{TICKET.TICKET_DATE}}</td>
                                <td colspan="3">
                                    <div class="price_1" style="display: inline;">
                                        <input type="checkbox" name="liCheck" id="" value="" checked
                                            style="display: none;">
                                        <p style="display: inline-block;">
                                            $<span class="price">{{TICKET.TICKET_PRICE}}</span>
                                        </p>
                                        <button type="button" class="decrease" disabled="disabled">-</button>
                                        <p style="display: inline-block; margin: 10px;">
                                            <span class="piece">0</span>
                                        </p>
                                        <button type="button" class="increase">+</button>

                                        <p style="display: inline-block; margin-left:30px;">
                                            $<input class="smallPrice" type="text" name="" id="" value="0"
                                                disabled="disabled">
                                        </p>
                                    </div>

                                </td>
                            </tr>

                            <!-- 第二種票券
                            <tr class="second_order" style="color:#fff; line-height: 5;" v-for="TICKET in TICKETS">
                                <td class="adv_ticket">{{TICKET.TICKET_TYPE}}</td>
                                <td style="width: 230px;">{{TICKET.TICKET_DATE}}</td>
                                <td colspan="3">
                                    <div class="price_2" style="display: inline;">
                                        <input type="checkbox" name="liCheck" id="" value="" checked
                                            style="display: none;">
                                        <p style="display: inline-block;">
                                            $<span class="price">{{TICKET.TICKET_PRICE}}</span>
                                        </p>
                                        <button type="button" class="decrease" disabled="disabled">-</button>
                                        <p style="display: inline-block; margin: 10px;">
                                            <span class="piece">0</span>
                                        </p>
                                        <button type="button" class="increase">+</button>

                                        <p style="display: inline-block; margin-left:30px;">
                                            $<input class="smallPrice" type="text" name="" id="" value="0"
                                                disabled="disabled">
                                        </p>
                                    </div>

                                </td>
                            </tr> -->
                        </table>

                        <!-- 結算欄位-->
                        <div class="order_amount">
                            <!-- 折扣碼 -->
                            <div class="input_discount">
                                <h6>Coupon:</h6>
                                <input class="input_coupon" type="text" name="coupon" value="" disabled>
                                <button type="button" class="applyCoupon">Apply</button>
                                <!-- <input class="btn_code_submit" type="submit" value="Apply"> -->
                                <h6>Get Tickets: By QR-code</h6>
                            </div>

                            <!-- 結算 -->
                            <div class="sum">
                                <label>
                                    <input type="checkbox" name="" id="checkAll" value="" checked
                                        style="display: none;">
                                </label>
                                <p style="text-align: right;">
                                    Amount:
                                    <span id="totalCount">0</span>
                                </p>

                                <div class="c_discount">
                                    <h6>Discount:</h6>
                                    <h6 id="couponUse">NONE</h6>
                                </div>

                                <p style="text-align: right;">
                                    Total:$
                                    <span id="totalPrice">0</span>
                                </p>
                            </div>

                            <!-- 送出按鈕 -->
                            <div class="btn_group mtSpace20">
                                <input class="btn_checkout" type="submit" value="CHECKOUT"
                                    onclick="location.href='./front_cart_info.html'">
                            </div>

                        </div>
                </section>

            </article>
        </main>
    </div>

    <!-- 載入js -->
    <script src="./js/front_cart_order.min.js"></script>

</body>

</html>