<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html')

    <!-- Link jquery.multiscroll.js CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/multiscroll.js/0.2.3/jquery.multiscroll.min.css"
    />

    <!-- Link fullpage.js CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css"
    />

    <!-- Link Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">
</head>


<body>
    <div class="wrapper">

        <!-- 導覽列 -->
        @@include('./layout/nav.html', {
            "active1" : "active"
        })

        <main class="exhibition">
            <!-- coding here -->

            <div id="exhibition_wrapper">

                <div id="multiscroll" class="desktop">
                    <!--1440 桌面版-->

                    <div class="ms-left">
                        <!--左邊區塊-->

                        <div class="ms-section">
                            <!--左邊第一區-->

                            <article class="left1">

                                <section class="current" v-for="EXHIBITION in EXHIBITIONS[1]">

                                    <!-- <h2>Break the Classic</h2>
                                    <h3>TAKIKAW RISA Solo Exhibition</h3> -->
                                    <h3>{{EXHIBITION.EVENT_NAME}}</h3>
                                    <h5 class="mtSpace30">Place: Anno Museum South Building</h5>
                                    <h5>Date: {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                    <p class="mtSpace30 mbSpace30">{{EXHIBITION.EXHIBITION_CONTENT}}</p>

                                    <!--買票按鈕-->
                                    <a class="buyTicket" href="front_cart_order.html">
                                        <span class="top-key"></span>
                                        <span class="text">Buy Tickets</span>
                                        <span class="bottom-key-1"></span>
                                        <span class="bottom-key-2"></span>
                                    </a>
                                </section>
                            </article>
                        </div>
                        <!--左邊第一區 end-->


                        <div class="ms-section">
                            <!--左邊第二區-->

                            <article class="left2">

                                <section class="upcoming" v-for="EXHIBITION in EXHIBITIONS[2]">

                                    <h2>
                                        UPCOMING UPCOMING<br>
                                        UPCOMING UPCOMING<br>
                                        UPCOMING UPCOMING<br>
                                        UPCOMING UPCOMING<br>
                                        UPCOMING UPCOMING<br>
                                    </h2>

                                    <figure class="upcomingPic"><img :src="EXHIBITION.EXHIBITION_PIC" alt=""></figure>
                                </section>
                            </article>
                        </div>
                        <!--左邊第二區 end-->

                        <div class="ms-section">
                            <!--左邊第三區-->

                            <article class="left3" id="tab_content">

                                <div class="tab_item">

                                    <h3 class="tab_item_title">PAST EXHIBITION</h3>

                                    <h2>
                                        PAST EXHIBITION<br>
                                        PAST EXHIBITION<br>
                                        PAST EXHIBITION<br>
                                        PAST EXHIBITION<br>
                                        PAST EXHIBITION<br>
                                    </h2>
                                </div>

                                <div class="tab_item" v-for="EXHIBITION in EXHIBITIONS[3]">
                                    <!--展覽訊息1-->

                                    <figure class="exPast_text">

                                        <div class="exPast_contentBg1"
                                            :style="'background-image: url('+ EXHIBITION.EXHIBITION_PIC +');'"></div>
                                        <!--展訊背景圖片1-->

                                        <figcaption class="exPast_content">

                                            <h3>PAST</h3>

                                            <h5 class="mtSpace30">{{EXHIBITION.EVENT_NAME}}</h5>

                                            <h5>Place: Anno Museum South Building</h5>

                                            <h5>Date: {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                            <p class="mtSpace30">{{EXHIBITION.EXHIBITION_CONTENT}}</p>
                                        </figcaption>
                                    </figure>
                                </div> <!-- / tab_item -->

                            </article>
                        </div>
                        <!--左邊第三區 end-->
                    </div>
                    <!--左邊區塊 end-->



                    <div class="ms-right">
                        <!--右邊區塊-->

                        <div class="ms-section">
                            <figure class="right1" v-for="EXHIBITION in EXHIBITIONS[1]"><img :src="EXHIBITION.EXHIBITION_PIC" alt=""></figure>
                        </div>
                        <!--右邊區塊1-->

                        <div class="ms-section">
                            <!--右邊區塊2-->

                            <article class="right2">

                                <section class="upcoming" v-for="EXHIBITION in EXHIBITIONS[2]">

                                    <h2>Upcoming</h2>

                                    <h5 class="mtSpace30">{{EXHIBITION.EVENT_NAME}}</h5>

                                    <h5>Place: Anno Museum North Building</h5>

                                    <h5>Date: {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                    <p class="mtSpace30 mbSpace30">{{EXHIBITION.EXHIBITION_CONTENT}}</p>

                                    <!--買票按鈕-->
                                    <a class="buyTicket" href="front_cart_order.html">
                                        <span class="top-key"></span>
                                        <span class="text">Buy Tickets</span>
                                        <span class="bottom-key-1"></span>
                                        <span class="bottom-key-2"></span>
                                    </a>
                                </section>
                            </article>
                        </div>
                        <!--右邊區塊2 end-->


                        <div class="ms-section">
                            <!--右邊區塊3-->

                            <article class="right3">

                                <h3 class="mbSpace10">2021</h3>

                                <ul class="exBefore tabs">

                                    <li class="tabs_beforePic mbSpace10" v-for="EXHIBITION in EXHIBITIONS[3]"
                                        @click="exContent">
                                        <a href="#">
                                            <img :src="EXHIBITION.EXHIBITION_PIC" alt="">
                                        </a>
                                    </li>

                                </ul> <!-- / tabs -->
                            </article>
                        </div>
                        <!--右邊區塊3 end-->
                    </div>
                    <!--右邊區塊 end-->
                </div>
                <!--desktop end-->
            </div>

            <div id="app_fullpage">
                <full-page :options="options" id="fullpage" class="mobile" ref="fullpage">
                    <!-- RWD 手機版 -->

                    <section id="section0" class="section exBlock1_current">
                        <!--當期展覽-->
                        
                        <div class="currentContent">
                            <!--當期文字內容 + 圖片-->

                            <h2 class="current_title mtSpace30 mbSpace30">CURRENT EXHIBITION</h2>

                            <img class="currentPic-1" src="./img/exhibition/exhibition_pic1_2.png" alt=""><!--當期圖片-->
                            <!-- <span></span> -->

                            <div class="currentContent-text" v-for="EXHIBITION in EXHIBITIONS[1]"><!--文字內容-->

                                <h3>{{EXHIBITION.EVENT_NAME}}</h3>

                                <h5 class="ex_place mtSpace30">Place: Anno Museum South Building</h5>

                                <h5 class="ex_date">Date: {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                <p class="ex_content-detail mtSpace30 mbSpace30">{{EXHIBITION.EXHIBITION_CONTENT}}</p>

                                <!--買票按鈕-->
                                <a class="buyTicket" href="front_cart_order.html">
                                    <span class="top-key"></span>
                                    <span class="text">Buy Tickets</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>

                            </div>            

                        </div>
                        <!--當期文字內容 end-->

                    </section>

                    <section id="section1" class="section exBlock2_upcoming">
                        <!-- 未來展覽 -->
                        <div class="upcomingContent">
                            <!--當期文字內容 + 圖片-->
                            <div v-for="EXHIBITION in EXHIBITIONS[2]">

                                <h2 class="upcoming_title mtSpace30 mbSpace30">UPCOMING EXHIBITION</h2>

                                <img class="upcomingPic-1" :src="EXHIBITION.EXHIBITION_PIC" alt="">

                                <h5 class="ex_name mtSpace30">{{EXHIBITION.EVENT_NAME}}</h5>

                                <h5 class="ex_place">Place: Anno Museum North Building</h5>

                                <h5 class="ex_date">Date: {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                <p class="ex_content-detail mtSpace30 mbSpace30">{{EXHIBITION.EXHIBITION_CONTENT}}</p>

                                <!--買票按鈕-->
                                <a class="buyTicket" href="front_cart_order.html">
                                    <span class="top-key"></span>
                                    <span class="text">Buy Tickets</span>
                                    <span class="bottom-key-1"></span>
                                    <span class="bottom-key-2"></span>
                                </a>

                            </div>

                        </div>

                    </section>

                    <section id="section2" class="section exBlock3_past">
                        <!--過往展覽-->

                        <h2 class="past_title mtSpace30 mbSpace30">PAST EXHIBITION</h2>

                        <h2 class="past_title mbSpace10">2021</h2>

                        <div class="swiper pastPic_swiper mbSpace30"><!--過往圖片輪播-->
                            <div class="swiper-wrapper pastPic_swiper-wrapper">

                                <div class="swiper-slide pastPic_swiper-slide" v-for="EXHIBITION in EXHIBITIONS[3]"><!--past-slide 1-->
                                    <img :src="EXHIBITION.EXHIBITION_PIC" alt="">
                                    
                                    <div class="pastContent">
                                    <!--過往文字內容-->

                                        <h5 class="ex_name mtSpace30">{{EXHIBITION.EVENT_NAME}}</h5>

                                        <h5 class="ex_place">Place：Anno Museum South Building</h5>

                                        <h5 class="ex_date">Date： {{EXHIBITION.EXHIBITION_DATE}}</h5>

                                    </div>
                                    <!--過往文字內容 end-->
                                </div>
                            </div>

                            <!-- 分頁器 -->
                            <div class="swiper-pagination"></div>

                        </div><!--過往圖片輪播 end-->
                        
                    </section>

                </full-page>
                <!--RWD END-->
            </div>
            
        </main>

    </div>
    
  

    <!-- 載入套件 -->
    <script src="./js/vendors/jquery.multiscroll.min.js"></script>


    <script src="./js/vendors/vue-fullpage.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- 載入js -->
    <script src="./js/exhibition.min.js"></script>


</body>

</html>
