// 麵包屑位置
.headerContainer{
    h5.about{
        &:first-child{
            left: 20px;
        }

        &:nth-child(2){
            left: 190px;
        }

        &:nth-child(3){
            left: 0px;
        }

        &:last-child{
            left: 0px;
        }
    }
}

// =====================anno about=======================
.wrapperAbout{
    position: relative;
    width: $RWD;
    height: $Height;
    @include VerticalAlignCenter();
    @include LinkImg(about, about_pic1, jpg, cover, null, null);
    .aboutCnt{
        width: $Width;
        height: 500px;
        @include HorizontalAlignCenter();
        h2{
            color:$TextColor2;
            text-shadow: $TextShadow;
        }
        h4{
            color:$TextColor2;
            text-shadow: $TextShadow;
        }
        .aboutCntFr{
    
            width:$RWD;
            display: flex;
            justify-content: flex-end;
        }
        .aboutCntEn{
            text-align: right;
        }
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}
.content__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


// ======================anno history======================
.aboutHistory{
    @include VerticalAlignCenter();
    @include LinkImg(about, about_pic1, png, cover, null, null);
    .aboutHistoryContent{
        width: $Width;
        height: 500px;
    }
    h2{
        color:$TextColor2;
        text-shadow: $TextShadow;
    }
    h4{
        color:$TextColor2;
        text-shadow: $TextShadow;
    }
}

.wrapperAbhiMd{
    display: flex;
   justify-content: flex-end;
}
.aboutHistoryMid{
    width: 800px;
    
}




// -------------sns----------------
.wrapperSns{
    @include VerticalAlignCenter();
    width: $Width;
    height: $Height;
}
.sns{
    @include HorizontalAlignCenter();
    @include Flex(row);
    h3{
        color:$TextColor2;
        text-shadow: $TextShadow;
        text-align: center;
    }
    .snsFb{
       flex-grow: 1;
       .fb-page{
    
       }
    }
    .snsIg{
        flex-grow: 2;
    }
   
    .snsTwitter{
        flex-grow: 2;
    }
}