.wrapperAbout{
    // @include Remind();
    width: $Width;
    height: $Height;
    h2{
        color:$TextColor2;
    }
    h4{
        color:$TextColor2;
    }
    .wrapperAboutCntFr{

        text-align: right;
    }
    .wrapperAboutCntEn{
        text-align: right;
    }
}
.aboutHistory{
    @include LinkImg(about, about_pic1, png, cover, null, null);
    .aboutHistoryContent{
        width: $Width;
        height: $RWD;
    }
    h2{
        color:$TextColor2;

    }
    h4{
        color:$TextColor2;
    }
    .aboutHistoryMid{
        text-align: right;
    }
}
.movePic{
   position: relative;
}
.movePictImg{
    position: absolute;
}