// =====================anno about=======================
.wrapperAbout{
    width: $Width;
    height: $Height;
    @include VerticalAlignCenter();
    .aboutCnt{
        width: $Width;
        height: 500px;
        @include HorizontalAlignCenter();
        h2{
            color:$TextColor2;
        }
        h4{
            color:$TextColor2;
        }
        .aboutCntFr{
    
            width:$RWD;
            display: flex;
            justify-content: flex-end;
        }
        .aboutCntEn{
            text-align: right;
        }
    }
}

// ======================anno history======================
.aboutHistory{
    @include VerticalAlignCenter();
    @include LinkImg(about, about_pic1, png, cover, null, null);
    .aboutHistoryContent{
        width: $RWD;
        height: 500px;
    }
    h2{
        color:$TextColor2;

    }
    h4{
        color:$TextColor2;
    }
}

.wrapperAbhiMd{
    display: flex;
   justify-content: flex-end;
}
.aboutHistoryMid{
    width: 800px;
    
}
.movePic{
   position: relative;
}
.movePictImg{
    position: absolute;
}