.cartDone li.step.two{
    background-color: #E9E9E9 !important;
}

.cartDone li.step.four{
    background-color: $AccentColor3 !important;
}
// 流程裝飾線
ul.stepDecorate::before{
    content: ' ';
    height: 50%;
    width: 5px;
    background-color: #E9E9E9;

    position: absolute;
    top: 25%;
    left: 193px;
    z-index: 0;
}

ul.stepDecorate{
    width: 70px;
    margin-left: 100px;

    li.step{
        
        width: 50px;
        height: 50px;

        background-color: #E9E9E9;
        color: black;

        text-align: center;
        border-radius: 50%;

        position: absolute;
        z-index: 2;

        span{
            width: 50px;

            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h4);
            font-family: $SpecialFont;

            position: absolute;
            z-index: 3;

            top: 10px;
            left: 0px;
        }
    }
}

li.step.one{
    top: 22%;
}

li.step.two{
    top: 38%;
}

li.step.three{
    top: 54%;
}

li.step.four{
    top: 70%;
}

.cartDone{
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;
    }

    
}

.done_center{
    // border: 1px yellow solid;       
    width: 950px;
    margin-top: 5%; 
    margin-left: 20%; 
    padding: 20px;
    box-sizing: border-box;

    h3{
        padding: 0;
        margin-left: 0; 
    }

}

.main_info{
    display: flex;
}


.info_left{
    width: 400px;
    // border: 1px #fff solid;
    line-height: 3;

    h4{
        color: $TextColor2;
    }

}

.info_right{
    padding-left: 10%;
    width: 400px;
    // border: 1px #fff solid;
    line-height: 1.6;
    text-align: center;

    h4{
        font-family: Fredoka;
        color: $AccentColor3;
    }

    h6{
        color: $InputColor;
    }

    p{
        margin: 20px auto;
        @include LinkImg(Logo, anno_qr, png, cover, null, null);
        width: 200px;
        height: 200px;
    }

}