li.step.one{
    background-color: #E9E9E9;
}

li.step.two{
    background-color: $AccentColor3;
}

.cartDetails{
    h3{
        color: $TextColor2;
        padding-top: 7%;
        margin-left: 5%;
    }

    table.shopping{
        width: 950px;

        margin-top: 3%; 
        margin-left: 20%; 

        background-color: #E9E9E9;
        color: black;

        box-sizing: border-box;

        td{
            padding: 10px;
        }
    }
}