.cartDone{
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;
    }

    
}

.done_center{
    border: 1px yellow solid;       
    width: 950px;
    margin-top: 5%; 
    margin-left: 20%; 
    padding: 20px;
    box-sizing: border-box;

}

.main_info{
    border: 1px red solid;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content:space-between;

}

.info_left{
    border: 1px #fff solid;
    width: 400px;


}

.info_right{
    border: 1px #fff solid;
    width: 400px;


}