.cartInformation li.step.two{
    background-color: #E9E9E9 !important;
}

.cartInformation li.step.three{
    background-color: $AccentColor3 !important;
}

// 流程裝飾線
ul.stepDecorate::before{
    content: ' ';
    height: 50%;
    width: 5px;
    background-color: #E9E9E9;

    position: absolute;
    top: 25%;
    left: 193px;
    z-index: 0;
}

ul.stepDecorate{
    width: 70px;

    margin-left: 100px;

    li.step{
        
        width: 50px;
        height: 50px;

        background-color: #E9E9E9;
        color: black;

        text-align: center;
        border-radius: 50%;

        position: absolute;
        z-index: 2;

        span{
            width: 50px;

            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h4);
            font-family: $SpecialFont;

            position: absolute;
            z-index: 3;

            top: 10px;
            left: 0px;
        }
    }
}

li.step.one{
    top: 22%;
}

li.step.two{
    top: 38%;
}


li.step.three{
    top: 54%;
}

li.step.four{
    top: 70%;
}

.cartInformation{
    overflow: auto; 
    width: 950px;
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;
    }
}

// main information

.main_box{
    border: 1px yellow solid;   
    margin-top: 5%; 
    margin-left: 20%; 
    padding: 20px;
    box-sizing: border-box;
}

.order_info{
    border: 1px red solid;
}


.order_list{
    border: 1px blue solid;   
    margin-top: 5%; 
}

.payment{
    border: 1px green solid;   
    margin-top: 5%; 
}

h6{
    color:$TextColor2;
}

input{
    width: 300px;
    height: 30px;
    background-color: #E1E1E1;
    margin: 10px;
    border: none;
}

input:focus{
    outline: none;
    box-shadow:rgba(0,0,0,0.4)2px 2px 2px inset;  
}

.check_box{
    width: 15px;
    height: 15px;
    background-color: #E1E1E1;
}

//下拉選單
select{
    margin: 10px;
    background: $RemindBlue;
    width: 130px;
    font-size: 12px;
    height: 30px; 
    padding: 0 5px;
    outline:none;
}

//聲明文字
.cautions_box{
    background-color: #EFEBEB;
    width: 600px;
    height: 200px;
    overflow: auto; 
    margin: 10px;
    padding: 30px;
}

.caution_text{
    color:#000;
    line-height: 1;
    letter-spacing: normal;
}



// 完成按鈕
.btn_previous{
    width: 100px;
    height: 30px;
    background-color: #C4C4C4;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
}

.btn_done{
    width: 100px;
    height: 30px;
    background-color: #F29966;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
}

.btn_group{
    text-align: right;
}