.cartInformation li.step.two{
    background-color: #E9E9E9 !important;
}

.cartInformation li.step.three{
    background-color: $AccentColor3 !important;
}

// 流程裝飾線
ul.stepDecorate::before{
    content: ' ';
    height: 50%;
    width: 5px;
    background-color: #E9E9E9;

    position: absolute;
    top: 25%;
    left: 193px;
    z-index: 0;
}

ul.stepDecorate{
    width: 70px;

    margin-left: 100px;

    li.step{
        
        width: 50px;
        height: 50px;

        background-color: #E9E9E9;
        color: black;

        text-align: center;
        border-radius: 50%;

        position: absolute;
        z-index: 2;

        span{
            width: 50px;

            font-weight: map-get($FontWeight, regular);
            font-size: map-get($FontSize, h4);
            font-family: $SpecialFont;

            position: absolute;
            z-index: 3;

            top: 10px;
            left: 0px;
        }
    }
}

li.step.one{
    top: 22%;
}

li.step.two{
    top: 38%;
}


li.step.three{
    top: 54%;
}

li.step.four{
    top: 70%;
}

.cartInformation{
    overflow: auto; 
    width: 950px;
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;
    }
}

// main information

.main_box{
    // border: 1px yellow solid;   
    margin-top: 5%; 
    margin-left: 20%; 
    padding: 20px;
    box-sizing: border-box;
}


.order_info_text{
    
    p{
        display : inline-block;
        width: 50px;
    }
}

.order_list{
    h6{
        color:$TextColor2;
    }
    margin-top: 5%; 
}

table.list_table{
    margin-top: 10px; 
    width: 700px;
    background-color: #E9E9E9;
    color: black;
    box-sizing: border-box;
    td{
        padding: 10px;
    }
}

.first_order{
    border-bottom: 1px solid #000;
}

.count{

    width: 700px;
    margin-top: 10px; 
    display: inline-block;

}

.c_amount{
    text-align: right;
    h6{
        display: inline-block;
        color:$TextColor2;
    }
}

.c_discount{
    text-align: right;
    h6{
        display: inline-block;
        text-align: right;
        color:$TextColor2;
    }
}

.c_total{
    text-align: right;
    color:$TextColor2;
}

.payment{
    margin-top: 5%; 
    p{
    margin-top: 20px; 
    }
}

.input_type{
    width: 330px;
    height: 30px;
    background-color: #E1E1E1;
    margin: 10px;
    border: none;
}

.input_type:focus{
    outline: none;
    box-shadow:rgba(0,0,0,0.4)2px 2px 2px inset;  
}

//選取框check box

.s-check_box{
    font-size: 12px;
    letter-spacing: normal;
}

.check_box{
    margin: 0;
    vertical-align: middle;
}


//下拉選單
select{
    margin: 10px;
    background: $RemindBlue;
    width: 150px;
    font-size: 12px;
    height: 30px; 
    padding: 0 5px;
    outline:none;
}

//聲明文字
.cautions_box{
    background-color: #EFEBEB;
    width: 600px;
    height: 200px;
    overflow: auto; 
    margin: 10px;
    padding: 0 30px 30px 30px;
}

.caution_text{
    color:#000;
    line-height: 1;
    letter-spacing: normal;
    margin: 0px;
}



// 完成按鈕
.btn_previous{
    width: 100px;
    height: 30px;
    background-color: #C4C4C4;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    margin-bottom: 50px;
}

.btn_done{
    width: 100px;
    height: 30px;
    background-color: #F29966;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
}

.btn_group{
    text-align: right;
}