main{
    /* overflow: auto; 不能加在這... */
}

.cartInformation{
    overflow: auto; 
    width: 950px;
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;
    }
}

// main information

.main_box{
    border: 1px yellow solid;   
    margin-top: 5%; 
    margin-left: 20%; 
    padding: 20px;
    box-sizing: border-box;
}

.order_info{
    border: 1px red solid;
}


.order_list{
    border: 1px blue solid;   
}
