// 麵包屑位置
.headerContainer{
    h5.exhibition{
        &:first-child{
            left: 20px;
        }

        &:nth-child(2){
            left: 150px;
        }

        &:nth-child(3){
            left: 290px;
        }

        &:last-child{
            left: 0px;
        }
    }
}

main.exRelative{
    position: relative;
    h2,h3,h5,p{
        color: $TextColor2;
        text-align: left;
    }
 
    div.ms-left{
        div#left1{
            @include VerticalAlignCenter;
            section.exCurrent{
                h2{
                    color: #F0F28D;
                    text-align: left;
                    line-height: $LineHeight;
                }
            }            
        }
        div#left2{
            @include VerticalAlignCenter;
            section.exCurrent{
                @include VerticalAlignCenter;
                img.currentPic-1{
                    display: inline-block;
                    width: 80%;
                    @include HorizontalAlignCenter;
                    z-index: 31;    
                }
                h2{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    line-height: 1; 
                    z-index: 30;
                    opacity: .1;
                }
            }
        }
        div#left3{
            div.tab_content{
                @include VerticalAlignCenter; 
                width: 100%;
                height: 100%;
                div.tabs_item{
                    @include VerticalAlignCenter;                  
                    display: none;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    &:first-child {display: block;}
                    h3{
                        text-align: center;
                    }
                    h2{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        line-height: 1; 
                        opacity: .1;
                    }
                                     
                    @for $i from 1 to 4 {
                        div.exPast_contentBg#{$i}{ 
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        @include LinkImg('exhibition', 'exhibition_pic#{$i+3}', 'jpeg', cover, no-repeat, center);
                        opacity: .1;
                        z-index: 31;
                        }
                    }                        
                    div.exPast_content{
                        z-index: 32;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 90%;
                    }
                }
            }
            
        }
    }
    div.ms-right{
        div#right1{
            @include LinkImg('exhibition', 'exhibition_pic1', 'jpeg', cover, no-repeat, center);
            @include VerticalAlignCenter;
            
        }
        div#right2{
            @include LinkImg('exhibition', 'exhibition_pic3', 'jpeg', cover, no-repeat, center);
            @include VerticalAlignCenter;
            section.exUpcoming{
                @include HorizontalAlignCenter;
            }
        }
        div#right3{
            @include VerticalAlignCenter;

            ul.exBefore{
                @include HorizontalAlignCenter;
                h3, h6{
                    text-align: center;
                    color: $TextColor2;
                }
                .on a > img{
                    display: inline-block;
                    border: 4px solid $AccentColor2;
                }
            }
            
        }
    }
}



