article.cartOrder {
    width: $RWD;

    section.rollover {
        width: 70%;
        margin-top: 5%;
        margin-left: 18%;
        padding: 20px;
        box-sizing: border-box;
        background-color: $PrimaryColor;
    }

    //表格
    tr{
        background-color: $PrimaryColor;
        border-bottom: 1px #fff solid;
    }
}




.table_title{
    font-weight:450;
}

//order amount 結算區域

.order_amount {
    border: 1px green solid;
    margin-top: 30px;
    box-sizing: border-box;
    width: 700px;
}

.input_discount {
    display: inline-block;
    border: 1px red solid;
}

.c_count {
    display: inline-block;
    border: 1px blue solid;
    padding-left: 180px;
}

.c_amount {
    text-align: right;
    h6 {
        display: inline-block;
        color: $TextColor2;
    }
}

.c_discount {
    text-align: right;
    h6 {
        display: inline-block;
        text-align: right;
        color: $TextColor2;
    }
}

.c_total {
    text-align: right;
    color: $TextColor2;
}


//數量加減按鈕
.add{
    cursor: pointer;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size:16px;
}


.sub{
    cursor: pointer;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size: 20px;
}

.qty{
    width: 20px;
    text-align: center;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size:16px;
}

// 送出按鈕

.btn_checkout{
    width: 100px;
    height: 30px;
    background-color: #f29966;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
}

//RWD

@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
}
