main.home {
	div#fullpage {
		width: $RWD;
	}

	//========== part 1 ===========//
	article.page1 {
		width: $RWD;
		height: $Height;

		overflow: hidden;
		position: relative;

		.ori_video {
			width: $RWD;
			height: $Height;
			object-fit: cover;
			text-align: center;
		}

		.rwd_video{
			visibility: hidden;
		}

		.btn_next {
			text-align: center;
			text-shadow: $TextShadow;

			position: absolute;
			left: 40%;
			bottom: 0px;

			animation: goingOn 2s infinite;

			.btn_img {
				height: 45px;
				padding-top: 15px;
			}
		}
	}

	@keyframes goingOn {
		0% {
			transform: translate(0px, 0px);
		}

		50% {
			transform: translate(0px, -10px);
		}

		100% {
			transform: translate(0px, 0px);
		}
	}

	//part 1 RWD

	@media screen and (min-width: 768px) and (max-width: 991.98px) {


	}

	@media screen and (min-width: 576px) and (max-width: 767.98px) {

		article.page1 {
	
			.ori_video {
				display: none;
			}
	
			.rwd_video{
				visibility: visible;
				width: $RWD;
				height: $Height;
				object-fit: cover;
				text-align: center;
		
			}
		}

	}

	@media screen and (max-width: 575.98px) {

		article.page1 {

			.ori_video {
				display: none;
			}
	
			.rwd_video{
				visibility: visible;
				width: $RWD;
				height: $Height;
				object-fit: cover;
				text-align: center;
		
			}
		}
		
	}

	//========== part 2 ===========//

	article.page2 {
		width: $RWD;
		height: $Height;


		@include LinkImg(index, index_pic1, png, cover, null, null);
		@include VerticalAlignCenter;

		section.text {
			width: 95%;

			@include HorizontalAlignCenter;

			h2 {
				font-weight: map-get($FontWeight, 'medium');
				font-size: 85px;
				text-align: left;
				line-height: 1;
				padding-bottom: 20px;
				color: $FocusingColor2;
				text-shadow: $TextShadow;
			}

			section.right {
				text-align: right;
				text-shadow: $TextShadow;

				h4{
					padding-bottom: 20px;
				}
			}
		}
	}

	//part 2 RWD

	@media screen and (min-width: 768px) and (max-width: 991.98px) {}

	@media screen and (min-width: 576px) and (max-width: 767.98px) {

		article.page2 {
			@include LinkImg(index, index_pic1-2, png, cover, null, null);
			@include VerticalAlignCenter;
			}
	}

	@media screen and (max-width: 575.98px) {
		article.page2 {
			@include LinkImg(index, index_pic1-3, png, cover, null, null);
			@include VerticalAlignCenter;
			}
	}

	//========== part 3 ===========//

	article.page3 {
		height: 100%;
		background-color: $PrimaryColor;
		@include VerticalAlignCenter;

		.part3_wrapper {
			width: 90%;
			margin: 0 auto;
			max-width: 80rem;
		}
	}

	//part 3 RWD

	// @media screen and (min-width: 768px) and (max-width: 991.98px) {}

	// @media screen and (min-width: 576px) and (max-width: 767.98px) {}
	// @media screen and (max-width: 575.98px) {}
}