.cartDone{
    margin: 0 auto;
    h3{
        color: $TextColor2;
        padding-top: 10%;
        margin-left: 5%;   
    }
  
}

.done_center{
    // border: 1px yellow solid;       
    width: 95%;
    margin-top: 15%; 
    box-sizing: border-box;

}

.main_info{
    display: flex;
}


.info_left{
    width: 350px;
    padding-top: 50px;
    margin-left: 50px;
    // border: 1px #fff solid;
    


    h4{
        color: $TextColor2;
    }

    h6{
        color: $TextColor2;
        padding-top: 20px;
    }

}

.info_right{
    // border: 1px #fff solid;
    margin-left: 30px;
    width: 400px;

    line-height: 1.6;
    text-align: center;

    h4{
        font-family: Fredoka;
        color: $AccentColor3;
    }

    h6{
        color: $InputColor;
    }

    p{
        margin: 20px auto;
        @include LinkImg(Logo, anno_qr, png, cover, null, null);
        width: 200px;
        height: 200px;
    }

}

//RWD

@media screen and (min-width: 768px) and (max-width: 991.98px) {

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

}

@media screen and (max-width: 575.98px) {

}