article.cartOrder {
    width: $RWD;


    section.rollover {
        padding: 20px;
        box-sizing: border-box;
        background-color: $PrimaryColor;
        // border: 1px blue solid;
        display: flex;
        /* 水平置中 */
        justify-content: center; 

    }

    .list_box{
        padding-top: 5%;
        // //滾動卷軸 清單
        // display: block;
        // overflow-x: auto;
        // white-space: nowrap;
    }
}

    //表格
    table.list_table {
        margin-top: 10px;
        width: 700px;
        background-color: #e9e9e9;
        color: black;
        box-sizing: border-box;
    
        tr {
            background-color: $PrimaryColor;
            border-bottom: 1px #fff solid;
        }
    
        td {
            padding: 10px;
        }
    
        tr{
            background-color: $PrimaryColor;
            border-bottom: 1px #fff solid;
        }
    }

        .table_title{
            font-weight:450;
            
        }

//order amount 結算區域

.order_amount {
    // border: 1px green solid;
    margin-top: 30px;
    box-sizing: border-box;
    width: 700px;
}

.input_discount {
    display: inline-block;
    // border: 1px red solid;
}

.c_count {
    display: inline-block;
    // border: 1px blue solid;
    padding-left: 180px;
}

.c_amount {
    text-align: right;
    h6 {
        display: inline-block;
        color: $TextColor2;
    }
}

.c_discount {
    text-align: right;
    h6 {
        display: inline-block;
        text-align: right;
        color: $TextColor2;
    }
}

.c_total {
    text-align: right;
    color: $TextColor2;
}


//數量加減按鈕
.add{
    border: none;
    cursor: pointer;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size:16px;

}


.sub{
    border: none;
    cursor: pointer;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size: 20px;
}

.qty{
    border: none;
    width: 20px;
    text-align: center;
    color: $TextColor2;
    background-color: $PrimaryColor;
    font-size:16px;
}

// 送出按鈕

.btn_checkout{
    width: 100px;
    height: 30px;
    background-color: #f29966;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
}

//RWD

@media screen and (min-width: 768px) and (max-width: 991.98px) {
//不需要寫
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    .titleCart{
        border-bottom: 1px #fff solid;
    }

    table.list_table {
        margin-top: 10px;
        width: 560px;
    }

    .table_title{
        display: none;
    }

    .first_order{
        display: block;
        td{
            display: block;
            line-height: 2;
        }
    }

    .second_order{
        display: block;
        td{
            display: block;
            line-height: 2;
        }
    }

    .order_amount{
        width: 300px;
    }

    .c_count {
        padding-left: 0px;
    }

    .order_amount {
        // border: 1px green solid;
        margin-top: 5px;
        box-sizing: border-box;
        width: 560px;
    }

    .c_count {
        padding-left: 260px;
    }

    .sub{
        margin-left: 290px;
    }
}

@media screen and (max-width: 575.98px) {

    .titleCart{
        border-bottom: 1px #fff solid;
    }

    table.list_table {
        margin-top: 10px;
        width: 350px;
    }

    .table_title{
        display: none;
    }

    .first_order{
        display: block;

        td{
            display: block;
            line-height: 2;
            
        }
        
    }

    .second_order{
        display: block;

        td{
            display: block;
            line-height: 2;
        }
    }

    .order_amount{
        width: 300px;
    }

    .c_count {
        padding-left: 0px;
    }


    .order_amount {
        // border: 1px green solid;
        margin-top: 5px;
        box-sizing: border-box;
        width: 350px;
    }

    .c_count {
        padding-left: 55px;
    }

    .sub{
        margin-left: 80px;
    }
}
