// -------開館時間-------
.mainOpenhours{
    @include LinkImg(visit, visit_pic1, png, cover, null, null);
    @include VerticalAlignCenter ();
}

.wrapperOpenhours{
    @include Flex(row);
    @include VerticalAlignCenter;
    width:$RWD;
<<<<<<< HEAD
   height:calc(100% - 200px);
   background-color: #2932419a;
=======
    height:calc(100% - 200px);
    background-color: $PrimaryColor ;
   
>>>>>>> 45488affbffa37b68ab32753125f0847efef100f
}
.openhoursLeft {
    width:60%;
    h4{
        color:$TextColor2;
    }
}
.openhoursRight{
    width: 40%;
}

.openhoursRightImg{
    width:400px;
    height:400px;
    @include LinkImg(visit, visit_pic2, jpeg, cover, no-repeat, center);
}

// ----------展覽票價資訊-----------
.guideTicket{
    @include LinkImg(visit, visit_pic3-1, png, cover, null, null);

}
// -----交通資訊----------
.wapperTrans{
    @include Flex(row);
    @include VerticalAlignCenter;
    width:$Width;
   height:$RWD;
    @include Remind();
}
.transCnt{
    @include Remind();
    width:calc(100% - 50px);
    height: $RWD;
   h4{
    color:$TextColor2;
   }
   h5{
    color:$TextColor2;
   }
}
.map{
    @include Remind($color:blue);
    width:$RWD;
    height: $RWD;
    .mapImg{
        width:500px;
        height: 500px;
    background-color: black;
    }
}
