
// -------開館時間-------
.mainOpenhours{
    @include LinkImg(visit, visit_pic1, png, cover, null, null);
    
}
.wrapperOpenhours{
    @include Flex(row);
    @include VerticalAlignCenter();
    width:$RWD;
    height:450px;
    background-color: #2932419a;
}

.openhoursLeft {
    width:60%;
    h4{
        color:$TextColor2;
    }
}
.openhoursRight{
    width: 40%;
}

.openhoursRightImg{
    width:400px;
    height:400px;
    @include LinkImg(visit, visit_pic2, jpeg, cover, no-repeat, center);
}

// ----------展覽票價資訊-----------
.guideTicket{
    @include LinkImg(visit, visit_pic3-1-1, png, 60%, no-repeat,  left top );
}
.wrapperGuideticket{
    @include Remind($color:red);
    width:$RWD;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h2{
        color:$AccentColor3;
    }
    h3{
        color:$HFBGColor;
    }
    .guideticketCntMd{
        @include Remind($color:red);
        color:$SecondaryColor;
    }
    .guideticketCntLine{
        display: block;
        width: 500px;
        height: 4px;
        background-color: $NavBGColor;
    }
    .guideticketCntTime{
        @include Flex (row);

        width:520px;
    }
    .guideticketCntPr{
        @include Flex (row);
        @include Remind($color:red);
    }
    // a{
    //     width:400px;
    //     height: 100px;
    // }
}
    
// -----交通資訊----------
.wapperTrans{
    @include Flex(row);
    @include VerticalAlignCenter;
    height:$Height;
    // @include Remind();
    @include LinkImg(visit, visit_pic4, png, cover, no-repeat,  center);
    // background-size: 500px 300px;
    
    .map{
        width:140%;
    }
    .wrapperMapImg{
        @include VerticalAlignCenter;
        width: 400px;
        height: 400px;
        margin: $HorizontalAlignCenter; 
        border:4px solid black;
        iframe{
            width: $RWD;
            height: $RWD;
        }
    }
    .transCnt{
        width:$RWD;
        height: $RWD;
       h4{
        font-weight: map-get($FontWeight, medium);
        color:$TextColor2;
       }
       h5{
        color:$TextColor2;
        width: 500px;
       }
    }
}


