.index_page1{
  position: relative;
}

.welcome_video{
    width: 100%;
  }

.btn_going{
    color:$TextColor2;
    text-shadow: $TextShadow;
}

.btn_next{
    text-align: center;
    position: absolute;
    left: 40%;
    top: 500px;
    animation: goingOn 2s infinite;
    cursor: pointer;
}

 @keyframes goingOn {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
     }
}

.btn_img{
  padding-top: 15px;
}

.index_page2{
  height: 100%;
  @include LinkImg(index, index_pic1, png, cover, null, null);
  background-size: cover;
  @include VerticalAlignCenter;
}

.curr_text{
  @include HorizontalAlignCenter;
  width: 100vmax;
  padding: 0 20px;
  h2.currTitle{
    font-size: 110px;
    line-height: 1;
  }
  .currTitle{
    color: purple;
    text-shadow: $TextShadow;
    font-weight: map-get($FontWeight ,'medium' );  
  }
}


.curr_rightpart{
  text-align: right;
  text-shadow: $TextShadow;
}

.currName{
  color:$TextColor2;
  line-height:$LineHeight;
}

.currDate{
  color:$TextColor2;
  line-height:$LineHeight;
}

.buyTicket{
  text-shadow: none;
}