.index_page1{
  position: relative;
}

.welcome_video{
    width: 100%;
  }

.btn_going{
    color:$TextColor2;
    text-shadow: 2px 2px 2px #293241;
}

.btn_next{
    text-align: center;
    position: absolute;
    left: 40%;
    top: 500px;
    animation: goingOn 2s infinite;
    cursor: pointer;
}

 @keyframes goingOn {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
     }
}

.btn_img{
  padding-top: 15px;
}

.index_page2{
  height: 100%;
  @include LinkImg(index, index_pic1, png, cover, null, null);
  background-size: cover;
}

.curr_text{
  border: 1px blue solid;
  padding: 30px;
  padding-top: 200px;
}

.currTitle{
  color: purple;
  text-shadow: 2px 2px 2px #293241;
  line-height:1.6;
}

.currName{
  text-align: right;
  line-height:1.6;
  color:$TextColor2;
  text-shadow: 2px 2px 2px #293241;
}

.currDate{
  text-align: right;
  line-height:1.6;
  color:$TextColor2;
  text-shadow: 2px 2px 2px #293241;
}

.seeMore{
  text-align: right;
  color:$TextColor2;
  text-shadow: 2px 2px 2px #293241;
}