// 主要區域置中
.member_forget_main_area {
    @include VerticalAlignCenter;
    position: fixed;
    // 這邊的50px是為了讓中央白框於實際區域置中所以推開header區域
    top:50px;
    width: calc(100vw - 70px);
    height: calc(100vh - 50px);

}

.member_forget_main_block {
    @include HorizontalAlignCenter;
    width: 900px;
    height: 400px;
    background-color: $TextColor2;
    text-align: center;
}

//文字顏色
.member_forget_text {
    color: $TextColor;
}

//輸入框顏色
.member_forget_input {
    background-color: $HFBGColor;
    color: $TextColor2;
    font-size:24px;
    width:600px;
}

//按鈕顏色,寬度
.member_forget_width{
    width: 150px;
    display: inline-block;
}
.member_forget_BtColor1 {
    background-color: #AD9F9F;
}

.member_forget_BtColor2 {
    background-color: $AccentColor2;
}









