// 基本框架同member_modify

// 單個按鈕位置
.member_info_btc {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    width: 150px;
    background-color: $AccentColor2;
}
