// 主要區域置中
.member_modify_area {
    @include VerticalAlignCenter;
    position: fixed;
    // 這邊的50px是為了讓中央白框於實際區域置中所以推開header區域
    top: 50px;
    width: calc(100vw - 70px);
    height: calc(100vh - 50px);
    text-align: center;
    @include LinkImg('Logo', 'logo-o40-01', 'png', scale-down, repeat-y, left);
    background-position: top 0% left 0%;
    background-size: 20%;

}

// 主框框
.member_modify_main {
    @include HorizontalAlignCenter;
    @include VerticalAlignCenter;
    width: 750px;
    height: 500px;
    background-color: $TextColor2;
}

// 輸入框置中
.member_modify_main_block {
    @include HorizontalAlignCenter;
    text-align: left;
    width: 80%;

    ul.member_modify_main_ul {

        li.member_modify_main_li_title{
            text-align: center;
        }

        li.member_modify_main_li {
            @include VerticalAlignCenter;

            // 內文屬性
            .member_modify_inf {
                width: 45%;
            }

            // 內文不可修改
            .member_modify_uninput {
                width: 45%;
                display: block;
            }

            // 內文修改
            .member_modify_input {
                width: 45%;
                background-color: $HFBGColor;
                color: $TextColor2;
                height: 32px;
            }

            .member_modify_link {
                font-size: 0.9rem;
            }
        }
    }
}

//輸入框預設文字
.member_modify_input::placeholder {
    color: $TextColor2;
}

// button位置
.member_modify_main_bt {
    @include VerticalAlignCenter;
    width: 100%;

    .member_modify_Bt1 {
        display: block;
        width: 20%;
        text-align: center;
        background-color: #AD9F9F;
        left: 20%
    }

    .member_modify_Bt2 {
        display: block;
        width: 20%;
        text-align: center;
        background-color: $AccentColor2;
        left: 25%;
    }

}


@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .member_modify_main {
        width: 700px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    .member_modify_main {
        width: 500px;
        height: 500px;

        li.member_modify_main_li_title{
            font-size: 1.125rem;
        }

          


            .member_modify_Bt1 {
                width: 20%;

            }

            .member_modify_Bt2 {
                width: 20%;

            }

    }

}



@media screen and (max-width: 575.98px) {


    .member_modify_main {
        width: 350px;
        height: 530px;

        li.member_modify_main_li_title{
            font-size: 1rem;
        }

        // 內文屬性
        .member_modify_inf {

            font-size: 1rem;
        }

        // 內文不可修改
        .member_modify_uninput {

            font-size: 1rem;
        }

        // 內文修改
        .member_modify_input {
            width: 50%;
            background-color: $HFBGColor;
            color: $TextColor2;
            height: 32px;
            font-size: 1rem;
        }

        .member_modify_link {
            font-size: 0.8rem;
        }


    }

    .member_modify_main_bt {
        @include VerticalAlignCenter;
        width: 100%;

        .member_modify_Bt1 {
            width: 20%;
            left: 10%
        }

        .member_modify_Bt2 {
            width: 20%;
            left: 20%
        }

    }
}