//基本同forget相關區域
.member_forget_main {
  
    .member_forget_main_block .member_forget_change_text {
        font-weight: map-get($FontWeight, 'medium');
    }


}
//  選框於下方置中
.member_forget_main_block{
    position: relative;
}
.member_forget_change_Bt {
    position: absolute;
    background-color: $AccentColor2;
    display: block;
    bottom:50px;
    left:50%;
    transform: translate(-50%, 0%);
}
