.member_modify_title {
    margin: 0px auto;
    // @include Remind(red);
    width: 1000px;
    text-align: center;   
}
.member_modify_text{
    color: $TextColor2;
}
.member_modify_main_block{
    // @include Remind(green);
    width: 1000px;
    height: calc(100vh - 320px);
    max-height: 800px;
    background-color: $TextColor2;
    @include VerticalAlignCenter;
    text-align:left;
}
.member_modify_flex{
    @include Flex (1);
}
.member_modify_lineHeight{
    line-height: 32px;
}
.member_modify_input{
    background-color: $HFBGColor;
    color:$TextColor2;
}
//按鈕顏色同forget
