//基本同forget相關區域
//字形先粗體，再確認
.member_forget_main {
    .member_forget_change_text {
        font-weight: map-get($FontWeight, 'medium');
    }
}

.member_forget_change_BtColor1 {
    background-color: #AD9F9F;
}

.member_forget_change_BtColor2 {
    background-color: $AccentColor2;
}