.past_mainblock {
    // @include LinkImg(tickets, tickets_pic7, jpeg, cover, null, null);
    width: 100%;
    height: $RWD;
    filter: opacity(70%);
}

.past_topblock {
    @include Flex(row);
}

.past_textblock {
    width: 50%;
}

.past_imgblock {
    width: 50%;
}

.past_imgblock {
    width: 500px;
    height: 370px;
}

.past_bottomblock {
    margin: $HorizontalAlignCenter; // 大哥你好好看看我mixin 跟var 的scss 都寫了什麼...不要都用include...大家的程式都死機了...
}

.past_bottomblock button {
    background-color: #F29966;
}