
// ---外框&按鈕------
.wrapperTicketsCur{
    @include VerticalAlignCenter();
    width: $RWD;
    height: $RWD;
    .ticketsCurCon{
        @include Flex(column);
        align-content: center;
        width: $RWD;
        margin: $HorizontalAlignCenter;
       .defaultBtn{
        width: 200px;
        background-color:$AccentColor2; 
        @include HorizontalAlignCenter();
        text-align: center;
       } 
    }
}
// -----內容文字------
.ticketsCurConUp{
    @include Flex(row);
    @include HorizontalAlignCenter();
    width: 1000px;
    justify-content: space-between;
    .ticketsCurLt{

        line-height: 2.5;
        h2{
            color:$TextColor2;
        }
        h4{
            color:$TextColor2;
        }
    }
}
// ------qr code-----
.ticketsCurRi img{
    width:350px;
}