.past_mainblock {
    // @include LinkImg(tickets, tickets_pic8, jpg, cover, null, null);
    width: 100%;
    height: $RWD;
}

.past_topblock {
    width: 80vw;
    height: 90vh;
    @include Flex(row);
    @include HorizontalAlignCenter($top: 30px, $bottom:30px);
    @include VerticalAlignCenter;
}

.past_textblock {

    h3,
    h5 {
        color: $TextColor2;
    }

    width: 50%;
}

.past_bottomblock {
    @include Flex(row);
}

.past_bottomblock>.defaultBtn {
    margin: $HorizontalAlignCenter;
    background-color: $AccentColor2;
}

.past_imgblock {
    width: 50%;
}

.past_imgblock>img {
    width: $Width;
}



//============================= 過往票券 RWD ======================================//
@media screen and (max-width: 768px) {
    div.past_topblock{
        display: block;
    }
    div.past_textblock{
        width: 100%;
    } 
    div.past_imgblock{
        width: 100%;
        img{
            display: block;
            @include HorizontalAlignCenter;

        }
    }
}