// 麵包屑位置
.headerContainer {
    h5.tickets {
        &:first-child {
            left: 20px;
        }

        &:nth-child(2) {
            left: 340px;
        }

        &:nth-child(3) {
            left: 0px;
        }

        &:last-child {
            left: 0px;
        }
    }
}

@mixin APic ($var, $position, $color) {

    display: block;

    width: 160px;
    height: 140px;

    @include LinkImg('tickets', 'tickets_pic#{$var}', 'jpeg', cover, no-repeat, $position);
    @include HorizontalAlignCenter;

    border-left: 4px solid $color;
    border-bottom: 4px solid $color;
    border-right: 4px solid $color;
    border-style: inset;
}

@mixin TicketsBase($position) {
    color: $TextColor2;
    line-height: $LineHeight;
    text-align: $position;
}

@mixin TicketsWidth {
    width: 95%;
    @include HorizontalAlignCenter();
}


main.ticketsPage {

    // 東西請不要用推的！！！盡量用設寬度百分比加置中的方式讓它自己算，要不然很容易跑版！然後請正確使用html5標籤，賓哥跟丸子要哭了！
    // @include Remind(maroon);
    @include VerticalAlignCenter;

    article.tickets {

        // @include Remind(blue);
        width: 100%;

        h6{
            font-weight: map-get($FontWeight, regular)
        }

        h4.tickets_bookingName,
        h4.tickets_pastbookingName {
            @include TicketsWidth();
            @include TicketsBase(left);
        }

        h6.tickets_bookingName{
            @include TicketsBase(center);
            @include SingleEllipsis;
            line-height: 3;
            a{
                color: $TextColor2;
                span{
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    @include LinkImg('tickets', 'tickets_point', 'png', cover, no-repeat, center);
                }
            }
        }
    }
}


//======================當期票券管理===============================//
ul.tickets_currentBooking {

    @include TicketsWidth();
    @include VerticalAlignCenter();

    li.tickets_currentBooking {

        width: fit-content;

        @for $i from 1 to 3 {
            a.currentbookingPic-#{$i} {
                @include APic($i, center, $AccentColor2);
            }
        }
    }
}

//======================過去票券管理===============================//
div.pastBooking_Management {

    @include TicketsWidth();

    ul.tickets_pastBooking {

        width: 100%;
        height: 100%; //新增
        li.tickets_pastBooking {

            display: block;

            @for $i from 1 to 10 {
                a.pastPic-#{$i} {
                    @include APic($i+2, center, $AccentColor);
                }
            }
        }
    }

    div.swiper-button-prev,
    div.swiper-button-next {

        color: $TextColor2;

        &::after {
            font-size: map-get($FontSize, h3);
        }
    }
}

//============================= 票券 RWD ======================================//
@media screen and (max-width: 576px) {

    ul.tickets_currentBooking {
        display: block;
        li.tickets_currentBooking {
            @include HorizontalAlignCenter();
        }
    }   
}