<nav class="BackNav">
    <ul>
        <li class="@@active1">
            <a href="./member_manage.html">
                <span>會員管理</span>
            </a>
        </li>
        <li class="@@active2">
            <a href="./news.html">
                <span>最新消息管理</span>
            </a>
        </li>
        <li class="@@active3">
            <a href="./event.html">
                <span>展訊發布管理</span>
            </a>
        </li>
        <li class="@@active4">
            <a href="./ticket_manage.html">
                <span>票券管理</span>
            </a>
        </li>
        <li class="@@active5">
            <a href="./order.html">
                <span>訂單管理</span>
            </a>
        </li>
        <li class="@@active6">
            <a href="./discount_code.html">
                <span>折扣碼管理</span>
            </a>
        </li>
    </ul>
</nav>