
<header class="backHeader">

    <!-- 左邊區域 -->
    <div class="headerContainer">
        <h3 class="@@active1 ptSpace80 plSpace30">@@tittle1</h3>

        <button class="mlSpace30">
            <h5 class="@@active2">新增</h5>
        </button>
    </div>

    <!-- 右邊區域 -->
    <div class="search">
        <a href="./backend_login.html">
            <h5 class="ptSpace20 mlSpace150">帳號登出</h5>
        </a>

        <button class="mtSpace10" id="check">
            <h6>@@tittle2</h6>
        </button>

        <button class="mtSpace10 mlSpace20" id="search">
            <h6>查詢</h6>
        </button>
    </div>

</header>