<header class="backHeader">

    <div class="headerContainer">

        <h3 class="@@active1 ptSpace80 plSpace30">@@tittle1</h3>

        <button class="mtSpace80 mlSpace30">
            <h5 class="@@active2">新增</h5>
        </button>

    </div>

    <div class="search">
        <button class="mtSpace80">
            <h6>@@tittle2</h6>
        </button>
        <button class="mtSpace80 mlSpace20">
            <h6>查詢</h6>
        </button>
    </div>

    <a href="#">
        <h5 class="ptSpace20 mrSpace20">帳號登出</h5>
    </a>
        
    
</header>