<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- RWD 設定 -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=yes"
/>

<!-- 網頁頁籤小icon -->
<link
  rel="shortcut icon"
  href="./img/logo/logo_square.ico"
  type="image/x-icon"
/>

<!-- 網站名稱 -->
<title>ANNO museum</title>

<!-- Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<!-- FontAwesome -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>

<!-- 後端資料庫介面使用 -->
<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!-- 若需相容 IE11，要加載 Promise Polyfill-->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<!-- 自訂css -->
<link rel="stylesheet" href="./css/style.css" />
<script src="./js/main.min.js"></script>
