<header>
            <div class="header_container">
                <h4>
                    <span class="@@active1">@@tittle1</span>
                </h4>

                <h4>
                    <span class="@@active2">@@tittle2</span>
                </h4>

                <h4>
                    <span class="@@active3">@@tittle3</span>
                </h4>

                <h4>
                    <span class="@@active4">@@tittle4</span>
                </h4>
            </div>

            <a href="./index.html">
                <figure class="logo"></figure>
            </a>
        </header>