<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- 網頁頁籤小icon -->
    <link rel="shortcut icon" href="./img/Logo/ANNO_LOGO-9_square.png" type="image/x-icon">
    <!-- 網站名稱 -->
    <title>ANNO museum</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
        integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>

    <!-- boostrap -->
    <!-- <script src="./../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

    <!-- <script src="./../node_modules/jquery/src/jquery.js"></script>
    <script>
        const { JSDOM } = require("jsdom");
        const { window } = new JSDOM("");
        const $ = require("jquery")(window);
    </script> -->

    <!-- GreenSock -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" 
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- <script src="./../node_modules/gsap/dist/gsap.min.js"></script> -->
    <!-- import gsap from "gsap"; -->

    <!-- fullpage.js -->
    <!-- <script src="node_modules\fullpage.js\dist\fullpage.css"></script>
    <script src="./../node_modules/fullpage.js/dist/fullpage.extensions.min.js"></script>
    <script src="./../node_modules/fullpage.js/dist/fullpage.min.js"></script>
    <script src="./../node_modules/fullpage.js/vendors/easings.min.js"></script>
    <script src="./../node_modules/fullpage.js/vendors/scrolloverflow.min.js"></script> -->
    <!-- <script src="./js/vendors/fullpage.min.js"></script> -->

    <!-- multiscroll.js -->
    <!-- <link rel="stylesheet" href="./../node_modules/multiscroll.js/jquery.multiscroll.css">
    <script src="./../node_modules/multiscroll.js/jquery.multiscroll.min.js"></script> -->
    <!-- <script src="./js/vendors/jquery.multiscroll.min.js"></script> -->

    <!-- imagesloaded -->
    <!-- <script src="./../node_modules/imagesloaded/imagesloaded.pkgd.js"></script> -->
    <!-- <script src="./js/vendors/imagesloaded.pkgd.min.js"></script> -->

    <!-- charming -->
    <!-- <script src="./../node_modules/charming/index.js"></script> -->
    <!-- <script src="./js/vendors/charming.min.js"></script> -->

    <!-- Aos -->
    <!-- <script src="./../node_modules/aos/src/js/aos.js"></script> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        // AOS.init();
    </script>

    <!-- Swiper JS -->
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
    <!-- <script src="./../node_modules/swiper/swiper-bundle.js"></script> -->

    <!-- email.js -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script> -->
    <!-- <script src="./../../node_modules/emailjs/rollup/email.cjs"></script> -->
    <!-- <script src="./../../node_modules/emailjs/rollup/email.mjs"></script> -->

    <!-- <script src="./js/vendors/TweenMax.min.js"></script> -->
    <!-- <script src="./js/vendors/demo.min.js"></script> -->


    <!-- 自訂css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- 自訂js -->
    <script src="./js/main.min.js"></script>