<header class="backHeader">

    <!-- 左邊區域 -->
    <div class="headerContainer">
        <h3 class="ptSpace70 plSpace30">@@tittle1</h3>

        <button class="@@btn mlSpace20" id="add">
            <h6>新增</h6>
        </button>
    </div>

    <!-- 右邊區域 -->
    <div class="search">
        <a href="./backend_login.html">
            <h6 class="ptSpace20 mlSpace150" style="color: black;">帳號登出</h6>
        </a>

        <input type="text" value="&nbsp; @@tittle2" class="mtSpace10" id="check">

        <button class="mtSpace10 mlSpace20" id="search">
            <h6>查詢</h6>
        </button>
    </div>

</header>