<header>
    <div class="HeaderContainer">
        <div class="LeftSpace30">
            <h5>
                <span class="@@active1">@@tittle1</span>
            </h5>
        </div>
        <div class="LeftSpace30">
            <h5>
                <span class="@@active2">@@tittle2</span>
            </h5>
        </div>
        <div class="LeftSpace30">
            <h5>
                <span class="@@active3">@@tittle3</span>
            </h5>
        </div>
        <div class="LeftSpace30">
            <h5>
                <span class="@@active4">@@tittle4</span>
            </h5>
        </div>
    </div>


    <a href="./index.html">
        <figure class="logo"></figure>
    </a>
</header>